SECRET_KEY_DJANGO="django-"
DJANGO_API_URL=http://127.0.0.1:8000

VK_BOT_TOKEN="vk"

DB_NAME="online_quiz"
DB_USER="postgres"
DB_PASSWORD="root"
DB_HOST="localhost"
DB_PORT="5432"

EMAIL_HOST_USER="test@mail.ru"
EMAIL_HOST_PASSWORD="password"